#topBar-inside-3button-showBoxLogin
{
    height: 300px;
    width: 250px;
    margin-right: -100px;
    display: none;
    border-radius: 10px;
    background-color: rgb(82, 82, 82);
}

#topBar-inside-3button-showBoxRegister
{
    height: 400px;
    width: 250px;
    margin-right: -100px;
    display: none;
    border-radius: 10px;
    background-color: rgb(82, 82, 82);
}


#topBar-inside-3button-showBoxLogin > input
{
    width: 200px;
    height: 50px;
    margin-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
    font-size: 20px;
    border-radius: 10px;
    border: black 2px solid;
}

#topBar-inside-3button-showBoxRegister > input
{
    width: 200px;
    height: 50px;
    margin-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
    font-size: 20px;
    border-radius: 10px;
    border: black 2px solid;
}

#topBar-inside-3button-showBoxLogin > input[type = "submit"]
{
    margin-top: 10px;
}

#topBar-inside-3button-showBoxRegister > input[type = "submit"]
{
  border-top: 10px;
}

#topBar-inside-3button:hover > #topBar-inside-3button-showBoxLogin
{
    display: block;
}

#topBar-inside-3button-showBoxLogin > input:focus
{
    outline: none;
}

#topBar-inside-3button-showBoxRegister > input:focus
{
    outline: none;
}

#switchToRegister:hover
{
    color: chartreuse;
}

#switchToLogin:hover
{
    color: chartreuse;
}
